body{
    background-image: linear-gradient( 90DEG ,#f3f5f6,#f0f5f8 );
}
.header{
    height: 35vh;
    background-image: url("../img/hospital.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    padding-top: 200px !important;
    padding-bottom: 30px !important;
    overflow: hidden;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
}
.header .content{
    font-family: 'Comfortaa', Arial !important;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 0;
    transform: translateY(50px);
}

.header .content .left{
    text-align: center;
}

.header .content .left p{
    font-size: 26px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    max-width: 500px;
    margin: auto;
}
.div1{
  text-align: center;
  margin-top: 100px;
color: rgb(60, 60, 159);
}

.input-box{
    font-size: 20px;
    color: white;
}
.h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 90px;
} 
.hospitals-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px
    
}
.hospitals-1>div{
    width: 50%;
    height: 100%;
}
.hospitals-img1{
    width:50%;
    border-radius: 20px;
    height: auto !important;
    box-shadow : 0 1px 13px -2px rgb(60, 60, 159) ;
}
.hosimg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
 
}
.paragraph-1{
    font-size: 15px;
    text-align: start;
    line-height: 1.8;
    padding: 29px 30px;
    color: rgb(60, 60, 159);
    font-weight: bold;
    height: 100%;
}
.paragraph-2{
    text-align: center;
    color:  rgb(60, 60, 159);
    margin-top: 80px;
    font-size: 22px;
}
.sign-in{
    background-image: linear-gradient( 90DEG ,#eff4f8,#f1f4f7 );
    width: 100%;
height: auto;

}
.sign-in form{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 100px;
}

.button{
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 25px;
    background-image: linear-gradient( 150deg, #032f4e, #0c75c0);
    color: white;
    border-top: 2px solid #032f4e;
    border-left: 2px solid #032f4e;
    border-bottom: 2px solid #0c75c0;
    border-right: 2px solid #0c75c0;
    cursor: pointer;

}
.button:hover{
    border-top: 2px solid #022843;
    border-left: 2px solid #022843;
    border-bottom: 2px solid #0b5d98;
    border-right: 2px solid #0b5d98;
    background-image: linear-gradient(150deg, #022843, #0b5d98);
    cursor: pointer;
}
.div1 h1{
    margin-bottom:5px;
}
.login{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;

}
.login h3{
    margin-bottom: 7px !important;
}
.form .div1 input{
    font-size: 25px;
    padding: 10px;
    border-radius: 40px;
    border-top: 2px solid #032f4e;
    border-left: 2px solid #032f4e;
    border-bottom: 2px solid #0c75c0;
    border-right: 2px solid #0c75c0;
    outline: none;
}
@media(max-width: 850px){
    .hospitals-1{
        flex-direction: column-reverse;}
        .paragraph-1{
      padding-left: 0;
      width: 100%;
      font-size: 15px;
      text-align: center;
        }
        .hospitals-img1{
            width: 100%;
        }
        .form .div1 input{
         margin-top: 15PX;
          
        }

}
@media(max-width:850px){
    .header{
        padding-top: 100px !important;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }


    .header .content{
        display: block;
        transform: translateY(90px);
    }
    .header .content .left p{
        font-size: 20px;
        padding: 20px;
    }
    
}